h1{
    color:rgb(255, 255, 255);
}
p{
    color:red;
    text-align : center;
}
h2{
    text-align : center;
}
/* *{
    border:solid;
}
*/
.header{
    background-color:cadetblue;
    display:flex;
    justify-content : space-between;
}

.grid{
    display:flex;
    flex-wrap : wrap;
    justify-content : space-evenly; 
}
.footer{
    display:flex;
    justify-content : flex-end;
}
